body,
html {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.close-section {
  padding: 8px 15px;
  border-radius: 50%;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px;
  border: 1px dashed;
  box-sizing: border-box;
}

.close-section:hover {
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid;
}

.hover-message .message-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  border-radius: .3em;
  background-color: rgba(0,0,0,.9);
  padding: 10px;
  z-index: 2;
}

.hover-message .message-up {
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}

.hover-message .message-left {
  left: -65px;
  top: 0;
}

.hover-message:hover .message-container {
  opacity: 1;
}

@keyframes floating {
    from { transform: translate(0,  0px); box-shadow:0 0 8px #c0c0c2, inset 0 0 8px #e9e7e8; }
    65%  { transform: translate(0, 15px); box-shadow:0 0 20px 7px #c0c0c2, inset 0 0 12px 11px #e9e7e8; }
    to   { transform: translate(0, -0px); box-shadow:0 0 8px #e9e7e8, inset 0 0 8px #e9e7e8; }    
}

@keyframes fade {
  from {opacity: 0;}
  50% {opacity: .5;}
  to {opacity: 1;}
}

.body-tag {
  font-family: 'Open Sans Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('../images/space-bg.jpg');
  background-size: cover;
  background-position: center center;
}

.main-header-container {
  flex: 1 1 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.skills-show .main-header-container,
.contact-show .main-header-container,
.projects-show .main-header-container {
  flex: 0 1 auto;
}

.main-heading {
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 10px 20px;
}

.projects-title,
.skills-title {
  display: none;
}

.projects-show .projects-title,
.skills-show .skills-title {
  display: inline;
}

.main-items-container {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  opacity: 1;
  transition: all .3s ease-in-out;
}

.main-header-item {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 10px;
  box-shadow:0 0 15px #e9e7e8, inset 0 0 15px #c0c0c2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.main-header-item:hover {
  animation-name: floating;
}

.main-header-item-inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
}

.main-content {
  display: none;
}

.projects-show .main-content,
.contact-show .main-content,
.skills-show .main-content {
  display: flex;
  flex: 1 1 auto;
}

.projects-show .main-items-container,
.contact-show .main-items-container,
.skills-show .main-items-container,
.contact-show .main-header-container {
  display: none;
}

.projects-container,
.contact-container,
.skills-container {
  display: none;
  position: relative;
  margin: 20px;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
}

.contact-show .contact-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-show .projects-container,
.contact-show .contact-container,
.skills-show .skills-container {
  animation-name:fade;
  flex: 1 1 auto;
}

.skills-show .skills-container,
.projects-show .projects-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.projects-container .language-container {
  overflow: hidden;
}

.projects-inner-container {
    background-color: rgba(0,0,0, .5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-inner-container:hover {
  background-color: rgba(0,0,0, .8);
  transition: all .3s ease-in-out;
}

.guess-game {
  background-image: url("../images/color-game.jpg");
}

.to-do {
  background-image: url("../images/to-do.jpg");
}

.tic-tac-toe {
  background-image: url("../images/tic-tac-toe.jpeg");
}

.animal-photo-gallery {
  background-image: url("../images/animal-photo-gallery.jpeg");
}

.language-container {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .1);
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.language-container.english {
  background-image: url("../images/usa-flag.jpg");
}

.language-container.spanish {
  background-image: url("../images/mexico-flag.jpg");
}

.language-container.portuguese {
  background-image: url("../images/brazil-flag.jpg");
}

.skills-container img {
  width: 50%;
}

.footer-container {
  background-color: rgb(0,0,0,1);
  color: #fff;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item-image {
  margin-right: 5px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.about {
  display: flex;
  align-items: center;
}

.github-svg .github {
  transition: 0.5s all ease-in-out;
}

.github-svg .github:hover {
  fill: #6d54aa;
}

.cv {
  font-size: 0.7rem;
  border: 2px solid #FFF;
  padding: 10px 12px;
}

.cv:hover {
  color: #6d54aa;
  border-color: #6d54aa;
}

@media (max-width: 991px) {
  .main-items-container {
    padding: 0;
  }
  
  .main-heading {
    text-align: center;
  }

  .main-header-item, 
  .main-header-item-inner {
    border-radius: 0;
    margin: 0;
    width: 100%;
    animation: none;
  }

  .main-header-item {
    box-shadow: 0 0 5px #e9e7e8, inset 0 0 5px #c0c0c2;
  }

  .main-header-item:hover {
    background-color: rgba(0,0,0,.6);
  }

}
