a {
    color: #fff;
    text-decoration: none;
}


html, body {
    margin:0;
    padding: 0;
    background-color: #36C3F0;
}

svg {
    display: block;
    margin: auto;
}
       
.bulb:hover, .github:hover {
    fill: #ff6699;
}
.bulb, .chris-cv, .github, a {
    transition: 0.5s all ease-in-out;
}

.chris-cv .a-block{
    border: 4px white solid;
    color: white;
    display: block;
    font-family: arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: 22px;
    padding: 0 3px;
}

.chris-cv:hover, .a-block:hover {
    color: #ff6699;
    border-color: #ff6699;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex div {
    margin: 0 10px;
}