body,
html {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: rgba(247, 247, 247, 0.97);
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

#header-main {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

#nav-main ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
}

#nav-main ul li {
  text-transform: uppercase;
  flex: 1;
  text-align: center;
}

#nav-main ul li a {
  margin: 15px 60px;
}

#nav-main ul li a:hover {
  color: #F06436;
}

.bulb {
  display: flex;
  justify-content: center;
  height: 450px;
  fill: #333;
}

#main-heading h1 {
  padding-left: 10px;
}

#projects div.title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  padding-top: 70px;
  margin-bottom: 50px;
}

#projects div.title span {
  padding-bottom: 15px;
  border-bottom: 2px #e4e4e4 dashed;
}

#projects ul.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  margin-bottom: 100px;
  padding-left: 0;
}

#projects ul.projects li {
  height: 200px;
  width: 290px;
  border: 2px #444 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

#projects ul.projects li a {
  border: 2px #FFF solid;
  padding: 10px 18px;
  background-color: rgba(0, 0, 0, 0.5);
}

#projects ul.projects li a:hover {
  background-color: #F06436;
  border-color: #444;
}

#projects ul.projects li.guess-game {
  background: url("../images/color-game.jpg") center center no-repeat;
  background-size: cover;
}

#projects ul.projects li.to-do {
  background: url("../images/to-do.jpg") center center no-repeat;
  background-size: cover;
}

#projects ul.projects li.tic-tac-toe {
  background: url("../images/tic-tac-toe.jpeg") center center no-repeat;
  background-size: cover;
}

#skills {
  width: 100%;
  background: url("../images/skills-bg-dark.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 450px;
  color: #FFF;
}

#skills .tools {
  padding: 100px 0;
}

#skills .tools ul.tech {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

#skills .tools ul.tech li {
  margin-top: 10px;
}

#skills .tools ul.tech li.tech-icon img {
  height: 95px;
  width: 150px;
}

#contact {
  width: 100%;
  padding: 7em 0;
}

#contact h2 {
  text-align: center;
}

#contact h2 a:hover {
  color: #36C3F0;
}

footer, #footer-main {
  background: rgb(0, 0, 0);
  color: #FFF;
}

#footer-main {
  display: flex;
  justify-content: space-between;
}

#footer-main .footer-content {
  margin-left: 10px;
}

#footer-main .footer-content p img {
  height: 25px;
  width: 25px;
}

#footer-main .about {
  display: flex;
  list-style-type: none;
  margin-right: 20px;
  justify-content: space-around;
}

#footer-main .about .github {
  margin-right: 20px;
}

#footer-main .about li.github svg .github {
  transition: 0.5s all ease-in-out;
}

#footer-main .about .github svg .github:hover {
  fill: #F06436;
}

#footer-main .about .cv p {
  margin-top: 0px;
}

.about .cv a {
  font-size: 0.7rem;
  border: 2px solid #FFF;
  padding: 10px;
}

.about .cv a:hover {
  color: #F06436;
  border-color: #F06436;
}

@media (max-width: 590px) {

  #nav-main ul {
    flex-direction: column;
    margin-top: -70px;
  }

  #skills .tools {
    padding: 50px 0;
  }

  #skills .tools ul.tech li {
    margin-top: 30px;
  }

  #footer-main .footer-content {
    font-size: .8rem;
  }
}